<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
			crossorigin="anonymous"
		/>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

		<title>Encoder</title>
	</head>
	<%- include("./nav"); -%>
	<body class="d-flex flex-column align-items-center mt-5 pt-5">
		
