<%- include("partials/header"); -%>
<form method="post" action="/decode" enctype="application/json">
	<label for="toBeDecoded">Encrypted Text :- </label>
	<input type="text" name="toBeDecoded" id="toBeDecoded" />
	<br />
	<label for="privateKey">Secret :- </label>
	<input type="text" name="privateKey" id="privateKey" />
	<input type="submit" />
</form>
<%- include("partials/footer"); -%>
