<%- include("partials/header"); -%>
<body>
	<form method="post" action="/encode" enctype="application/json">
		<label for="textTOEncrypt" name="textTOEncrypt"
			>Text to Encrypt :-
		</label>
		<input type="text" name="textTOEncrypt" id="textTOEncrypt" />
		<input type="submit" />
	</form>
</body>
<%- include("partials/footer"); -%>
