<%- include("partials/header"); -%>
<body>
	<form method="post" action="/decodeUpload" enctype="application/json">
		<label for="filetoBeDecoded">Encrypted File :- </label>
		<input type="file" name="filetoBeDecoded" id="filetoBeDecoded" />
		<input type="submit" />
	</form>
</body>
<%- include("partials/footer"); -%>
