<%- include("partials/header"); -%>
<form method="post" action="/decodeUpload" enctype="application/json">
	<label for="filetoBeDecoded">Encrypted File :- </label>
	<input type="file" name="filetoBeDecoded" id="filetoBeDecoded" />
	<input type="submit" />
</form>
<%- include("partials/footer"); -%>
